@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: normal;
    background: #F5F8FF;
    color: rgba(0, 0, 0, 0.5);
}

/* Minimal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    color: #8987A1;
}

button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 31.25rem;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
}

h6 {
    font-size: .875rem;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

.black {
    color: #1f1f1f;
}

.gold {
    color: #E95A08;
}

.btn {
    background-color: #FFFF;
    border: 5px solid #ee2034;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 12px;
    color: #ee2034;
}

.btn-small {
    color: #bababa;
    padding: 5px 25px;
    border: 3px solid #bababa;
    ;
    font-weight: bold;
    font-size: 12px;
}

.container {
    max-width: 71.25rem;
    margin: 0 auto;
}

section {
    margin-top: 100px;
}

/* Header style */
.navbar-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

nav ul {
    display: flex;
    gap: 48px;
}

nav ul li {
    display: list-item;
}

nav ul .active a {
    color: #252432;
    font-weight: bold;
}
nav ul .cart {
    display: flex;
    gap: 10px;
    color: #252432;
    font-weight: normal;
}
nav ul .cart a{
     color: #252432;
}







@media (max-width: 768px) {
    .navbar-area {
        justify-content: space-around;
    }

.navbar-area .logo {
    width: 63px;
    height: 38px;
}

    nav ul li {
        display: none;
    }

   
  nav ul .cart {
    display: list-item;
    display: flex;
    gap: 10px;
  }


nav ul .cart a {
    font-size: 16px;
}
}